!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title Admin panel
    
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    %main.container{role: "main"}
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light.border.rounded.mt-2
        = link_to "ADMIN", root_path, class: 'navbar-brand'
      = yield